.loadScreen
  position absolute
  top 0
  width 100%
  height 100%
  background #000
  display flex
  flex-direction column
  justify-content space-around
  align-items center
  transition: 3s cubic-bezier(.165, .84, .44, 1)

.loadText
  margin 0
  padding 0
  color #fff
  font-family Lausanne
  font-weight 400
  font-size 1em

  p
    animation: 3s ease-in-out infinite alternate opacityChange

.start
  margin-top 20px
  padding 10px 50px
  border 1px solid #fff
  background transparent
  color #fff
  font-size 16px
  text-transform uppercase
  cursor pointer
  outline none
  transition 0.32s ease transform
  &:hover
    transform scale(0.95)

.progressBar
  border-radius 10px
  width 200px
  background-color #232323
  margin-top: 16px
  position: absolute
  bottom: 10%
  left: 50%
  transform: translateX(-50%)

.progress
  border-radius 8px
  width 0px
  height 1px
  background-color #fff
  transition 0.32s ease-out width

@keyframes opacityChange {
  0%{
    opacity: 0  
  }
  100%{
    opacity: 1  
  }
}