@font-face
  src url('@fonts/Montserrat-Regular.ttf')
  font-family Montserrat

@font-face {
    src: url('@fonts/Lausanne-Regular.ttf')
    font-family Lausanne
}


@import './common.styl'
@import './loading.styl'